# Exercise: Business cycle correlations

For this exercise, you'll be using macroeconomic data from the folder `../data/FRED`.

1.  There are seven decade-specific files named `FRED_monthly_19X0.csv` where `X` identifies the decade (`X` takes on the values 5, 6, 7, 8, 9, 0, 1). Write a loop that reads in all seven files as DataFrames and store them in a list.

    *Hint:* Recall from the lecture that you should use <TT>pd.read_csv(..., parse_dates=['DATE'])</TT> to automatically parse strings stored in the <TT>DATE</TT> column as dates.
2.  Use [`pd.concat()`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) to concate these data sets into a single `DataFrame` and set the `DATE` column as the index.
3.  You realize that your data does not include GDP since this variable is only reported at quarterly frequency.
    Load the GDP data from the file `GDP.csv` and merge it with your monthly data using an _inner join_.
4.  You want to compute how (percent) changes of the variables in your data correlate with percent changes in GDP.

    1. Create a _new_ `DataFrame` which contains the percent changes in CPI and GDP (using 
    [`pct_change()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pct_change.html), 
    see also the last exercise in workshop 3),
    and the absolute changes for the remaining variables (using 
    [`diff()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.diff.html)).
    2.  Compute the correlation of the percent changes in GDP with the (percent) changes of all other variables (using [`corr()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html)). What does the sign and magnitude of the correlation coefficient tell you?

In [142]:
import numpy as np
import pandas as pd

DATA_PATH = '/Users/olavgramstadberstad/Desktop/repos/TECH2-H24/data/FRED'

In [143]:
# 1
DataFrames = []

for i in range(5,10):
    DataFrames.append(pd.read_csv(f'{DATA_PATH}/FRED_monthly_19{i}0.csv', parse_dates=['DATE']))

for i in range(0,2):
    DataFrames.append(pd.read_csv(f'{DATA_PATH}/FRED_monthly_20{i}0.csv', parse_dates=['DATE']))

DataFrames

[          DATE   CPI  UNRATE  FEDFUNDS  REALRATE  LFPART
 0   1950-01-01  23.5     6.5       NaN       NaN    58.9
 1   1950-02-01  23.6     6.4       NaN       NaN    58.9
 2   1950-03-01  23.6     6.3       NaN       NaN    58.8
 3   1950-04-01  23.6     5.8       NaN       NaN    59.2
 4   1950-05-01  23.8     5.5       NaN       NaN    59.1
 ..         ...   ...     ...       ...       ...     ...
 115 1959-08-01  29.2     5.2       3.5       NaN    59.2
 116 1959-09-01  29.2     5.5       3.8       NaN    59.3
 117 1959-10-01  29.4     5.7       4.0       NaN    59.4
 118 1959-11-01  29.4     5.8       4.0       NaN    59.1
 119 1959-12-01  29.4     5.3       4.0       NaN    59.5

 [120 rows x 6 columns],
           DATE   CPI  UNRATE  FEDFUNDS  REALRATE  LFPART
 0   1960-01-01  29.4     5.2       4.0       NaN    59.1
 1   1960-02-01  29.4     4.8       4.0       NaN    59.1
 2   1960-03-01  29.4     5.4       3.8       NaN    58.5
 3   1960-04-01  29.5     5.2       3.9       NaN    59.5
 4   1960-05-01  29.6     5.1       3.8       NaN    59.5
 ..         ...   ...     ...       ...       ...     ...
 115 1969-08-01  36.9     3.5       9.2       NaN    60.3
 116 1969-09-01  37.1     3.7       9.2       NaN    60.3
 117 1969-10-01  37.3     3.7       9.0       NaN    60.4
 118 1969-11-01  37.5     3.5       8.8       NaN    60.2
 119 1969-12-01  37.7     3.5       9.0       NaN    60.2

 [120 rows x 6 columns],
           DATE   CPI  UNRATE  FEDFUNDS  REALRATE  LFPART
 0   1970-01-01  37.9     3.9       9.0       NaN    60.4
 1   1970-02-01  38.1     4.2       9.0       NaN    60.4
 2   1970-03-01  38.3     4.4       7.8       NaN    60.6
 3   1970-04-01  38.5     4.6       8.1       NaN    60.6
 4   1970-05-01  38.6     4.8       8.0       NaN    60.3
 ..         ...   ...     ...       ...       ...     ...
 115 1979-08-01  73.7     6.0      10.9       NaN    63.6
 116 1979-09-01  74.4     5.9      11.4       NaN    63.8
 117 1979-10-01  75.2     6.0      13.8       NaN    63.7
 118 1979-11-01  76.0     5.9      13.2       NaN    63.7
 119 1979-12-01  76.9     6.0      13.8       NaN    63.9

 [120 rows x 6 columns],
           DATE    CPI  UNRATE  FEDFUNDS  REALRATE  LFPART
 0   1980-01-01   78.0     6.3      13.8       NaN    64.0
 1   1980-02-01   79.0     6.3      14.1       NaN    64.0
 2   1980-03-01   80.1     6.3      17.2       NaN    63.7
 3   1980-04-01   80.9     6.9      17.6       NaN    63.8
 4   1980-05-01   81.7     7.5      11.0       NaN    63.9
 ..         ...    ...     ...       ...       ...     ...
 115 1989-08-01  124.5     5.2       9.0       3.7    66.5
 116 1989-09-01  124.8     5.3       9.0       4.0    66.4
 117 1989-10-01  125.4     5.3       8.8       3.9    66.5
 118 1989-11-01  125.9     5.4       8.6       3.9    66.6
 119 1989-12-01  126.3     5.4       8.4       3.9    66.5

 [120 rows x 6 columns],
           DATE    CPI  UNRATE  FEDFUNDS  REALRATE  LFPART
 0   1990-01-01  127.5     5.4       8.2       3.8    66.8
 1   1990-02-01  128.0     5.3       8.2       3.4    66.7
 2   1990-03-01  128.6     5.2       8.3       4.4    66.7
 3   1990-04-01  128.9     5.4       8.3       4.5    66.6
 4   1990-05-01  129.1     5.4       8.2       4.3    66.6
 ..         ...    ...     ...       ...       ...     ...
 115 1999-08-01  167.1     4.2       5.1       2.6    67.0
 116 1999-09-01  167.8     4.2       5.2       2.7    67.0
 117 1999-10-01  168.1     4.1       5.2       2.3    67.0
 118 1999-11-01  168.4     4.1       5.4       2.2    67.1
 119 1999-12-01  168.8     4.0       5.3       1.8    67.1

 [120 rows x 6 columns],
           DATE    CPI  UNRATE  FEDFUNDS  REALRATE  LFPART
 0   2000-01-01  169.3     4.0       5.4       2.7    67.3
 1   2000-02-01  170.0     4.1       5.7       2.6    67.3
 2   2000-03-01  171.0     4.0       5.8       2.7    67.3
 3   2000-04-01  170.9     3.8       6.0       2.9    67.3
 4   2000-05-01  171.2     4.0       6.3       2.8    67.1
 ..         ...    ...     ...       ...       ...     ...
 115 2009-08-01  215.4     9.6       0.2      -1.0    65.4
 116 2009-09-01  215.9     9.8       0.2      -1.9    65.1
 117 2009-10-01  216.5    10.0       0.1      -0.8    65.0
 118 2009-11-01  217.2     9.9       0.1      -1.0    65.0
 119 2009-12-01  217.3     9.9       0.1      -1.2    64.6

 [120 rows x 6 columns],
           DATE    CPI  UNRATE  FEDFUNDS  REALRATE  LFPART
 0   2010-01-01  217.5     9.8       0.1      -0.8    64.8
 1   2010-02-01  217.3     9.8       0.1      -1.1    64.9
 2   2010-03-01  217.4     9.9       0.2      -1.6    64.9
 3   2010-04-01  217.4     9.9       0.2      -0.4    65.2
 4   2010-05-01  217.3     9.6       0.2      -0.5    64.9
 ..         ...    ...     ...       ...       ...     ...
 115 2019-08-01  256.0     3.6       2.1       0.6    63.1
 116 2019-09-01  256.4     3.5       2.0       0.3    63.2
 117 2019-10-01  257.2     3.6       1.8      -0.0    63.3
 118 2019-11-01  257.9     3.6       1.6      -0.2    63.3
 119 2019-12-01  258.6     3.6       1.6      -0.3    63.3

 [120 rows x 6 columns]]

In [144]:
#2
DataFrames = pd.concat(DataFrames)
DataFrames.set_index('DATE').reset_index(drop=True)

       CPI  UNRATE  FEDFUNDS  REALRATE  LFPART
0     23.5     6.5       NaN       NaN    58.9
1     23.6     6.4       NaN       NaN    58.9
2     23.6     6.3       NaN       NaN    58.8
3     23.6     5.8       NaN       NaN    59.2
4     23.8     5.5       NaN       NaN    59.1
..     ...     ...       ...       ...     ...
835  256.0     3.6       2.1       0.6    63.1
836  256.4     3.5       2.0       0.3    63.2
837  257.2     3.6       1.8      -0.0    63.3
838  257.9     3.6       1.6      -0.2    63.3
839  258.6     3.6       1.6      -0.3    63.3

[840 rows x 5 columns]

In [145]:
gdp = pd.read_csv(f'{DATA_PATH}/GDP.csv', parse_dates=['DATE'])
DataFrames1 = pd.merge(DataFrames, gdp, on='DATE', how='inner')
DataFrames1

          DATE    CPI  UNRATE  FEDFUNDS  REALRATE  LFPART      GDP
0   1950-01-01   23.5     6.5       NaN       NaN    58.9   2346.1
1   1950-04-01   23.6     5.8       NaN       NaN    59.2   2417.7
2   1950-07-01   24.1     5.0       NaN       NaN    59.1   2511.1
3   1950-10-01   24.5     4.2       NaN       NaN    59.4   2559.2
4   1951-01-01   25.4     3.7       NaN       NaN    59.1   2594.0
..         ...    ...     ...       ...       ...     ...      ...
275 2018-10-01  252.8     3.8       2.2      -0.2    62.9  20304.9
276 2019-01-01  252.6     4.0       2.4       0.6    63.1  20431.6
277 2019-04-01  255.2     3.7       2.4       3.1    62.8  20602.3
278 2019-07-01  255.8     3.7       2.4       1.1    63.1  20843.3
279 2019-10-01  257.2     3.6       1.8      -0.0    63.3  20985.4

[280 rows x 7 columns]

In [146]:
df1 = DataFrames1[['DATE', 'CPI', 'GDP']].set_index('DATE')
df1

              CPI      GDP
DATE
1950-01-01   23.5   2346.1
1950-04-01   23.6   2417.7
1950-07-01   24.1   2511.1
1950-10-01   24.5   2559.2
1951-01-01   25.4   2594.0
...           ...      ...
2018-10-01  252.8  20304.9
2019-01-01  252.6  20431.6
2019-04-01  255.2  20602.3
2019-07-01  255.8  20843.3
2019-10-01  257.2  20985.4

[280 rows x 2 columns]

In [147]:
df1 = df1.pct_change(periods=3)*100
df1

                 CPI       GDP
DATE
1950-01-01       NaN       NaN
1950-04-01       NaN       NaN
1950-07-01       NaN       NaN
1950-10-01  4.255319  9.083159
1951-01-01  7.627119  7.292054
...              ...       ...
2018-10-01  1.566894  1.301131
2019-01-01  0.959233  1.395003
2019-04-01  1.592357  1.608290
2019-07-01  1.186709  2.651577
2019-10-01  1.821061  2.710507

[280 rows x 2 columns]

In [148]:
df1 = df1.diff()
df1

                 CPI       GDP
DATE
1950-01-01       NaN       NaN
1950-04-01       NaN       NaN
1950-07-01       NaN       NaN
1950-10-01       NaN       NaN
1951-01-01  3.371799 -1.791105
...              ...       ...
2018-10-01 -0.298475 -0.679515
2019-01-01 -0.607662  0.093872
2019-04-01  0.633124  0.213287
2019-07-01 -0.405648  1.043287
2019-10-01  0.634352  0.058931

[280 rows x 2 columns]

In [149]:
DataFrames1.pct_change(periods=3)*100

TypeError: cannot perform __truediv__ with this index type: DatetimeArray

***
# Exercise: Loading many data files

In the previous exercise, you loaded the individual files by specifing an explicit list of file names. This can become tedious or infeasible if your data is spread across many files with varying file name patterns. Python offers the possibility to iterate over all files in a directory (for example, using [`os.listdir()`](https://docs.python.org/3/library/os.html#os.listdir)),
or to iterate over files that match a pattern, for example using [`glob.glob()`](https://docs.python.org/3/library/glob.html).

Repeat parts (1) and (2) from the previous exercise, but now iterate over the input files using 
[`glob.glob()`](https://docs.python.org/3/library/glob.html). You'll need to use a wildcard `*` and make sure to match only the relevant files in `../data/FRED`, i.e., those that start with `FRED_monthly`.

In [132]:
import glob
data_list = []
DATA_PATH2 = glob.glob('/Users/olavgramstadberstad/Desktop/repos/TECH2-H24/data/FRED/FRED_monthly_*.csv')
for file in DATA_PATH2:
    data_list.append(pd.read_csv(file, parse_dates=['DATE']))

df_1 = pd.concat(data_list).set_index('DATE')
df_1

             CPI  UNRATE  FEDFUNDS  REALRATE  LFPART
DATE
1950-01-01  23.5     6.5       NaN       NaN    58.9
1950-02-01  23.6     6.4       NaN       NaN    58.9
1950-03-01  23.6     6.3       NaN       NaN    58.8
1950-04-01  23.6     5.8       NaN       NaN    59.2
1950-05-01  23.8     5.5       NaN       NaN    59.1
...          ...     ...       ...       ...     ...
1969-08-01  36.9     3.5       9.2       NaN    60.3
1969-09-01  37.1     3.7       9.2       NaN    60.3
1969-10-01  37.3     3.7       9.0       NaN    60.4
1969-11-01  37.5     3.5       8.8       NaN    60.2
1969-12-01  37.7     3.5       9.0       NaN    60.2

[840 rows x 5 columns]

***
# Exercise: Decade averages of macro time series


For this exercise, you'll be using macroeconomic data from the folder `../data/FRED`.

1.  There are five files containing monthly observations on annual inflation (INFLATION), the Fed Funds rate (FEDFUNDS), the labor force participation rate (LFPART), the 1-year real interest rate (REALRATE) and the unemployment rate (UNRATE).
    Write a loop to import these and merge them on `DATE` into a single `DataFrame` using _outer joins_ (recall that [`merge()`](https://pandas.pydata.org/docs/reference/api/pandas.merge.html) 
    and [`join()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html) operate on only two DataFrames at a time). 

    *Hint:* Recall from the lecture that you should use <TT>pd.read_csv(..., parse_dates=['DATE'])</TT> to automatically parse strings stored in the <TT>DATE</TT> column as dates.

2.  Your friend is a pandas guru and tells you that you don't need to iteratively merge many files but can instead directly use [`pd.concat()`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html) for merging many DataFrames in a single step.
    Repeat the previous part using `pd.concat()` instead, and verify that you get the same result (you can do this using [`compare()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.compare.html)).
3.  You want to compute the average value of each variable by decade, but you want to include only decades without _any_ missing values for _all_ variables.
    1.  Create a variable `Decade` which stores the decade (1940, 1950, ...) for each observation.

        *Hint:* You should have set the `DATE` as the `DataFrame` index. Then you can access the calendar year using the attribute `df.index.year` which can be used to compute the decade.
    2.  Write a function `num_missing(x)` which takes as argument `x` a `Series` and returns the number of missing values in this `Series`.
    3.  Compute the number of missing values by decade for each variable using a [`groupby()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) operation and the function `num_missing` you wrote.
    4.  Aggregate this data across all variables to create an indicator for each decade whether there are any missing values. This can be done in many ways but will require aggregation across columns, e.g., with `sum(..., axis=1)`.
    5.  Merge this decade-level indicator data back into the original `DataFrame` (_many-to-one_ merge). 
4.  Using this indicator, drop all observations which are in a decade with missing values.
5.  Compute the decade average for each variable.

**Challenge**

-   Your pandas guru friend claims that all the steps in 3.2 to 3.5 can be done with a single one-liner using [`transform()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.transform.html). Can you come up with a solution?

In [151]:
DataFrames2 = []

for file in ['INFLATION', 'FEDFUNDS', 'LFPART', 'REALRATE', 'UNRATE']:
    DataFrames2.append(pd.read_csv(f'{DATA_PATH}/{file}.csv', parse_dates=['DATE']))
    

DataFrames2

[          DATE  INFLATION
 0   1948-01-01       10.2
 1   1948-02-01        9.7
 2   1948-03-01        6.8
 3   1948-04-01        8.2
 4   1948-05-01        9.1
 ..         ...        ...
 915 2024-04-01        3.4
 916 2024-05-01        3.2
 917 2024-06-01        3.0
 918 2024-07-01        2.9
 919 2024-08-01        2.6

 [920 rows x 2 columns],
           DATE  FEDFUNDS
 0   1954-07-01       0.8
 1   1954-08-01       1.2
 2   1954-09-01       1.1
 3   1954-10-01       0.8
 4   1954-11-01       0.8
 ..         ...       ...
 838 2024-05-01       5.3
 839 2024-06-01       5.3
 840 2024-07-01       5.3
 841 2024-08-01       5.3
 842 2024-09-01       5.1

 [843 rows x 2 columns],
           DATE  LFPART
 0   1948-01-01    58.6
 1   1948-02-01    58.9
 2   1948-03-01    58.5
 3   1948-04-01    59.0
 4   1948-05-01    58.3
 ..         ...     ...
 916 2024-05-01    62.5
 917 2024-06-01    62.6
 918 2024-07-01    62.7
 919 2024-08-01    62.7
 920 2024-09-01    62.7

 [921 rows x 2 columns],
           DATE  REALRATE
 0   1982-01-01       4.3
 1   1982-02-01       6.7
 2   1982-03-01       7.7
 3   1982-04-01       8.2
 4   1982-05-01       8.3
 ..         ...       ...
 509 2024-06-01       2.3
 510 2024-07-01       2.5
 511 2024-08-01       2.5
 512 2024-09-01       2.4
 513 2024-10-01       2.1

 [514 rows x 2 columns],
           DATE  UNRATE
 0   1948-01-01     3.4
 1   1948-02-01     3.8
 2   1948-03-01     4.0
 3   1948-04-01     3.9
 4   1948-05-01     3.5
 ..         ...     ...
 916 2024-05-01     4.0
 917 2024-06-01     4.1
 918 2024-07-01     4.3
 919 2024-08-01     4.2
 920 2024-09-01     4.1

 [921 rows x 2 columns]]

***
# Exercise: Mering the Titanic data

In this exercise, you'll be working with the the original Titanic data set in `titanic.csv` and additional (partly fictitious) information on passengers stored in `titanic-additional.csv`, both located in the `data/` folder.

The goal of the exercise is to calculate the survival rates by country of residence (for this exercise we restrict ourselves to the UK, so these will be England, Scotland, etc.).

1.  Load the `titanic.csv` and `titanic-additional.csv` into two DataFrames.

    Inspect the columns contained in both data sets. As you can see, the original data contains the full name including the title
    and potentially maiden name (for married women) in a single column.
    The additional data contains this information in separate columns.
    You want to merge these data sets, but you first need to create common keys in both DataFrames.

2.  Since the only common information is the name, you'll need to extract the individual name components from the original DataFrame
    and use these as merge keys.

    Focusing only on men (who have names that are much easier to parse), split the `Name` column into the tokens 
    `Title`, `FirstName` and `LastName`, just like the columns in the second DataFrame.

    *Hint:* This is the same task as in the last exercise in Workshop 2. You can just use your solution here.

3.  Merge the two data sets based on the columns `Title`, `FirstName` and `LastName` you just created using a _left join_ (_one-to-one_ merge).
    Tabulate the columns and the number of non-missing observations to make sure that merging worked. 

    *Note:* The additional data set contains address information only for passengers from the UK, so some of these fields will be missing.

4.  You are now in a position to merge the country of residence (_many-to-one_ merge). Load the country data from `UK_post_codes.csv` which contains 
    the UK post code prefix (which you can ignore), the corresponding city, and the corresponding country.

    Merge this data with your passenger data set using a _left join_ (what is the correct merge key?).

5.  Tabulate the number of observations by `Country`, including the number of observations with missing `Country` (these are passengers residing outside the UK).

    Finally, compute the mean survival rate by country.